.rows {
    display: flex;
    flex-direction: row;
}
.landing {
    position: relative;
    border-radius: 0% 100% 98% 14% / 100% 0% 36% 0% ;
    background-color: white;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
}
.headline {
    font-size: 2rem;
    font-weight: 900;
    color: var(--contrast);
}
.wave__top {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    z-index: -2;
}
.wave__top--outline {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--light-color);
    border-radius: 0% 100% 98% 14% / 100% 0% 28% 0%   ;
    z-index: -1; 
}
.hero {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__button {
    width: 200px;
    margin: 2rem;
}
.widgets {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.portraitContainer {
    width: 50%;
    margin: 0;
}

.portrait {
    border-radius: 68% 32% 71% 29% / 68% 49% 51% 32%  ;
    padding: 0;
    align-items: center;
    align-content: center;
    object-fit: cover;
    background-color: var(--light-color);
    padding: 0 0 1rem 2rem;
    width: 75%;
    }
.portrait__picture {
    border-radius: 68% 32% 30% 70% / 64% 53% 47% 36% ;
    background-color: white;
    padding: 3rem;
    margin: auto;
    width: 40%;
    margin-left: 2rem;

}
.portrait__outline {
    background-color: var(--main-color);
    border-radius: 68% 32% 71% 29% / 68% 49% 51% 32%  ;
    padding: 3rem 1rem 4rem 5rem;
    margin: auto;
    width: 80%;
}


#projects {
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 2rem 0;
    position: relative;
}
.homepage__gallery {
    width: 100%;
}
#skills {
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    position: relative;
    margin-bottom: 0;
    border-radius: 21% 100% 0% 26% / 0% 0% 41% 23%  ;
}
.wave__skills {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: white;
}
.wave__skills--outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--light-color);
    border-radius: 21% 100% 0% 26% / 0% 0% 41% 13% ;
}
#contact {
    padding-top: 5rem;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 21% 100% 0% 0% / 0% 44% 41% 10% ;
    .blurb--parcours {
        margin-top: 0;
    }
}
.form__container {
    margin-top: 4rem;
}
.wave__bottom {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
}
.wave__bottom--outline {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    border-radius: 21% 100% 0% 0% / 0% 29% 41% 10%  ;
}

.titleSplash {
    background: url("../assets/splash.png") no-repeat;
    width: 200px;
    margin-bottom: 4rem;
}
.titleSplash h2 {
    position: relative;
    top: 0;
    left: 0;
}


