.card {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    border: solid 5px var(--dark-color);
    border-radius: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    max-width: 400px;
    transition: all 0.5s;
    animation: ghost 1s ease-in;
    color: var(--background);
}
@keyframes ghost {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.card:hover {
    background-color: unset;
    color: var(--background);
}
.card__picture {
    height: 200px;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    object-fit: cover;
}
.card__title {
    padding: 0;
    margin: 10px;
}
.card__icon {
    height: 36px;
    width: 36px;
}
.card__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.card__button {
    border: none;
    background-color: var(--contrast);
    color: var(--background);
    font-weight: bold;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    cursor: pointer;
}
.focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    /*padding: 1rem;*/
}
.focus__title {
    font-size: 3rem;
    color: var(--contrast);
    margin: 0;
}
.focus__desc {
    font-size: 1.5rem;
    margin: 0;
    color: var(--font-color);
}
.focus__tagsContainer {
    display: flex;
    flex-direction: row;
    .focus__tag {
        background-color: var(--dark-color);
        border-radius: 1.5rem;
        padding: 10px;
        margin: 5px;
        color: var(--font-color);
        font-weight: bold;
    }
}
.focus__wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    margin-top: 1rem;
}
.focus__colorBand {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 37%;
    background-color: var(--dark-color);
    z-index: -1;
}
.focus__picture {
    width: 80%;
    max-width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
    border: solid 5px var(--dark-color);
}
.focus__abstract {
    font-size: 1.2rem;
    text-align: justify;
    padding: 1rem;
    color: var(--font-color);
    margin: 0;
}

@media(max-width:767px) {
    .focus {
        width: unset;
    }
}