.header {
    padding: 1rem 0 0 1rem ;
    position: fixed;
    z-index: 10;
    top:1rem;
    background-color: var(--background);
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
    width: 48px;
    height: 48px;
}

.menu {
    height: 48px;
    width: 48px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .header {
        left: -1rem;
        top: -0.5rem;
    }
}

@media (max-width: 767px) {
    .header {
        left: 35vw;
    }
}