.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    padding: 1rem 2rem;
}
.footer__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--contrast);
    margin-left: 10px;
}
.bubble {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: white;
    background: linear-gradient(to left, var(--main-color),  var(--light-color));
    box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
    transition: all 0.5s;
    cursor: pointer;
}
.bubble:hover {
    transform: scale(1.2) ;
}