:root {
    /* DESIGN SYSTEM */
    font-family: Jost, Arial, Helvetica, sans-serif;
    --tag-font: Monofett;
    --main-color: #547AA5;
    --light-color: #50D8D7;
    --dark-color: #4F5165;
    --contrast: #474044;

    --main-font: "Jost", sans-serif;



}
 body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
 }
