
.switch__container {
    text-align: center;
    }
    .toggle-switch {
    position: relative;
    width: 64px;
    margin: auto;
    }
    .checkbox {
    display: none;
    }
    .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--contrast);
    }
    .inner:before {
    line-height: 36px;
    color: var(--background);
    content: "";
    padding-left: 10px;
    }
    
    .switch {
    display: block;
    width: 24px;
    height: 24px;
    margin: 6px;
    background: var(--background);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 44%;
    border: 0 solid #bbb;
    border-radius: 50%;
    transition: all 0.3s ease-in 0s;
    }
    .checkbox:checked + .label .switch {
    right: 0%;
    }
    .french {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 6px;
    }
    .english {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 6px;
    }
    